# Importing tools

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# Import file

In [3]:
train_identity = 'train_identity.csv'

In [4]:
df_id = pd.read_csv(train_identity)

# Data exploration

In [11]:
def create_summary_excel(df):
    column_summary_df = pd.DataFrame({
        'Column Name': df.columns,
        'Data Type': df.dtypes.values,
        'Percentage Null': df.isnull().mean().values * 100,
        'Unique Values': df.nunique().values,
        'Min': np.nan,
        'Max': np.nan,
        'Mean': np.nan,
        'Median': np.nan,
        'Std': np.nan,
        'Unique Content': ''
    })

    include_stats = input("Do you want to include statistical data and unique values? (yes/no): ").strip().lower()

    if include_stats == 'yes':
        for i, col in enumerate(df.columns):
            if pd.api.types.is_numeric_dtype(df[col]):
                column_summary_df.at[i, 'Min'] = df[col].min()
                column_summary_df.at[i, 'Max'] = df[col].max()
                column_summary_df.at[i, 'Mean'] = df[col].mean()
                column_summary_df.at[i, 'Median'] = df[col].median()
                column_summary_df.at[i, 'Std'] = df[col].std()
                # Add unique values if they are less than or equal to 50
                if df[col].nunique() <= 50:
                    column_summary_df.at[i, 'Unique Content'] = df[col].unique()

            elif pd.api.types.is_object_dtype(df[col]):
                # Add all unique values for object data type columns
                column_summary_df.at[i, 'Unique Content'] = df[col].unique()

    save_to_excel = input("Do you want to save the summary to an Excel file? (yes/no): ").strip().lower()
    
    if save_to_excel == 'yes':
        file_name = input("Enter the file name (without extension): ").strip()
        full_file_name = f"{file_name}.xlsx"
        column_summary_df.to_excel(full_file_name, index=False, engine='openpyxl')
        print(f"File saved as {full_file_name}")
    else:
        print("Summary not saved to an Excel file.")
    
    print("\nSummary DataFrame:")
    print(column_summary_df)

In [13]:
def create_summary_csv(df):
    column_summary_df = pd.DataFrame({
        'Column Name': df.columns,
        'Data Type': df.dtypes.values,
        'Percentage Null': df.isnull().mean().values * 100,
        'Unique Values': df.nunique().values,
        'Min': np.nan,
        'Max': np.nan,
        'Mean': np.nan,
        'Median': np.nan,
        'Std': np.nan,
        'Unique Content': ''
    })

    include_stats = input("Do you want to include statistical data and unique values? (yes/no): ").strip().lower()

    if include_stats == 'yes':
        for i, col in enumerate(df.columns):
            if pd.api.types.is_numeric_dtype(df[col]):
                column_summary_df.at[i, 'Min'] = df[col].min()
                column_summary_df.at[i, 'Max'] = df[col].max()
                column_summary_df.at[i, 'Mean'] = df[col].mean()
                column_summary_df.at[i, 'Median'] = df[col].median()
                column_summary_df.at[i, 'Std'] = df[col].std()
                # Add unique values if they are less than or equal to 50
                if df[col].nunique() <= 50:
                    column_summary_df.at[i, 'Unique Content'] = df[col].unique()

            elif pd.api.types.is_object_dtype(df[col]):
                # Add all unique values for object data type columns
                column_summary_df.at[i, 'Unique Content'] = df[col].unique()

    save_to_csv = input("Do you want to save the summary to a CSV file? (yes/no): ").strip().lower()
    
    if save_to_csv == 'yes':
        file_name = input("Enter the file name (without extension): ").strip()
        full_file_name = f"{file_name}.csv"
        column_summary_df.to_csv(full_file_name, index=False)
        print(f"File saved as {full_file_name}")
    else:
        print("Summary not saved to a CSV file.")
    
    print("\nSummary DataFrame:")
    print(column_summary_df)

In [14]:
df_id.shape

(144233, 41)

In [15]:
create_summary_excel(df_id)

Do you want to include statistical data and unique values? (yes/no):  yes
Do you want to save the summary to an Excel file? (yes/no):  yes
Enter the file name (without extension):  df_id_before_cleaning

File saved as df_id_before_cleaning.xlsx

Summary DataFrame:
      Column Name Data Type  Percentage Null  Unique Values        Min  \
0   TransactionID     int64         0.000000         144233  2987004.0
1           id_01   float64         0.000000             77     -100.0
2           id_02   float64         2.330257         115655        1.0
3           id_03   float64        54.016071             24      -13.0
4           id_04   float64        54.016071             15      -28.0
5           id_05   float64         5.108401             93      -72.0
6           id_06   float64         5.108401            101     -100.0
7           id_07   float64        96.425922             84      -46.0
8           id_08   float64        96.425922             94     -100.0
9           id_09   float64        48.052110             46      -36.0
10          id_10   float64        48.052110             62     -100.0
11          id_11   float64         2.256765            365       90.0
12          id_12    object         0.000000              2        NaN
13          id_13   float64        11.726165             54       10.0
14          id_14   float64        44.503685             25     -660.0
15          id_15    object         2.251912              3        NaN
16          id_16    object        10.325654              2        NaN
17          id_17   float64         3.372321            104      100.0
18          id_18   float64        68.722137             18       10.0
19          id_19   float64         3.407681            522      100.0
20          id_20   float64         3.447200            394      100.0
21          id_21   float64        96.423149            490      100.0
22          id_22   float64        96.416215             25       10.0
23          id_23    object        96.416215              3        NaN
24          id_24   float64        96.708798             12       11.0
25          id_25   float64        96.441868            341      100.0
26          id_26   float64        96.420375             95      100.0
27          id_27    object        96.416215              2        NaN
28          id_28    object         2.256765              2        NaN
29          id_29    object         2.256765              2        NaN
30          id_30    object        46.222432             75        NaN
31          id_31    object         2.739318            130        NaN
32          id_32   float64        46.207872              4        0.0
33          id_33    object        49.187079            260        NaN
34          id_34    object        46.056034              4        NaN
35          id_35    object         2.251912              2        NaN
36          id_36    object         2.251912              2        NaN
37          id_37    object         2.251912              2        NaN
38          id_38    object         2.251912              2        NaN
39     DeviceType    object         2.373243              2        NaN
40     DeviceInfo    object        17.726179           1786        NaN

          Max          Mean     Median            Std  \
0   3577534.0  3.236329e+06  3198818.0  178849.571186
1         0.0 -1.017050e+01       -5.0      14.347949
2    999595.0  1.747166e+05   125800.5  159651.816856
3        10.0  6.018937e-02        0.0       0.598231
4         0.0 -5.893794e-02        0.0       0.701015
5        52.0  1.615585e+00        0.0       5.249856
6         0.0 -6.698710e+00        0.0      16.491104
7        61.0  1.328535e+01       14.0      11.384207
8         0.0 -3.860039e+01      -34.0      26.084899
9        25.0  9.102314e-02        0.0       0.983842
10        0.0 -3.011238e-01        0.0       2.789446
11      100.0  9.974532e+01      100.0       1.127602
12        NaN           NaN        NaN            NaN
13       64.0  4.805307e+01       52.0      11.774858
14      720.0 -3.445071e+02     -300.0      93.695502
15        NaN           NaN        NaN            NaN
16        NaN           NaN        NaN            NaN
17      229.0  1.894514e+02      166.0      30.375360
18       29.0  1.423734e+01       15.0       1.561302
19      671.0  3.531282e+02      341.0     141.095343
20      661.0  4.038827e+02      472.0     152.160327
21      854.0  3.682698e+02      252.0     198.847038
22       44.0  1.600271e+01       14.0       6.897665
23        NaN           NaN        NaN            NaN
24       26.0  1.280093e+01       11.0       2.372447
25      548.0  3.296089e+02      321.0      97.461089
26      216.0  1.490703e+02      149.0      32.101995
27        NaN           NaN        NaN            NaN
28        NaN           NaN        NaN            NaN
29        NaN           NaN        NaN            NaN
30        NaN           NaN        NaN            NaN
31        NaN           NaN        NaN            NaN
32       32.0  2.650860e+01       24.0       3.737502
33        NaN           NaN        NaN            NaN
34        NaN           NaN        NaN            NaN
35        NaN           NaN        NaN            NaN
36        NaN           NaN        NaN            NaN
37        NaN           NaN        NaN            NaN
38        NaN           NaN        NaN            NaN
39        NaN           NaN        NaN            NaN
40        NaN           NaN        NaN            NaN

                                       Unique Content
0
1
2
3   [nan, 0.0, 3.0, 2.0, 5.0, 1.0, 6.0, 9.0, 4.0, ...
4   [nan, 0.0, -11.0, -5.0, -8.0, -1.0, -6.0, -9.0...
5
6
7
8
9   [nan, 0.0, 3.0, 2.0, 1.0, 5.0, -8.0, 7.0, 4.0,...
10
11
12                                  [NotFound, Found]
13
14  [-480.0, -300.0, nan, -360.0, -420.0, -540.0, ...
15                         [New, Found, nan, Unknown]
16                             [NotFound, Found, nan]
17
18  [nan, 15.0, 18.0, 13.0, 12.0, 20.0, 21.0, 14.0...
19
20
21
22  [nan, 14.0, 41.0, 21.0, 33.0, 35.0, 19.0, 20.0...
23  [nan, IP_PROXY:TRANSPARENT, IP_PROXY:ANONYMOUS...
24  [nan, 11.0, 15.0, 16.0, 12.0, 21.0, 18.0, 25.0...
25
26
27                             [nan, Found, NotFound]
28                                  [New, Found, nan]
29                             [NotFound, Found, nan]
30  [Android 7.0, iOS 11.1.2, nan, Mac OS X 10_11_...
31  [samsung browser 6.2, mobile safari 11.0, chro...
32                       [32.0, nan, 24.0, 16.0, 0.0]
33  [2220x1080, 1334x750, nan, 1280x800, 1366x768,...
34  [match_status:2, match_status:1, nan, match_st...
35                                        [T, F, nan]
36                                        [F, nan, T]
37                                        [T, F, nan]
38                                        [T, nan, F]
39                             [mobile, desktop, nan]
40  [SAMSUNG SM-G892A Build/NRD90M, iOS Device, Wi...

In [17]:
create_summary_csv(df_id)

Do you want to include statistical data and unique values? (yes/no):  yes
Do you want to save the summary to a CSV file? (yes/no):  yes
Enter the file name (without extension):  df_id_before_cleaning

File saved as df_id_before_cleaning.csv

Summary DataFrame:
      Column Name Data Type  Percentage Null  Unique Values        Min  \
0   TransactionID     int64         0.000000         144233  2987004.0
1           id_01   float64         0.000000             77     -100.0
2           id_02   float64         2.330257         115655        1.0
3           id_03   float64        54.016071             24      -13.0
4           id_04   float64        54.016071             15      -28.0
5           id_05   float64         5.108401             93      -72.0
6           id_06   float64         5.108401            101     -100.0
7           id_07   float64        96.425922             84      -46.0
8           id_08   float64        96.425922             94     -100.0
9           id_09   float64        48.052110             46      -36.0
10          id_10   float64        48.052110             62     -100.0
11          id_11   float64         2.256765            365       90.0
12          id_12    object         0.000000              2        NaN
13          id_13   float64        11.726165             54       10.0
14          id_14   float64        44.503685             25     -660.0
15          id_15    object         2.251912              3        NaN
16          id_16    object        10.325654              2        NaN
17          id_17   float64         3.372321            104      100.0
18          id_18   float64        68.722137             18       10.0
19          id_19   float64         3.407681            522      100.0
20          id_20   float64         3.447200            394      100.0
21          id_21   float64        96.423149            490      100.0
22          id_22   float64        96.416215             25       10.0
23          id_23    object        96.416215              3        NaN
24          id_24   float64        96.708798             12       11.0
25          id_25   float64        96.441868            341      100.0
26          id_26   float64        96.420375             95      100.0
27          id_27    object        96.416215              2        NaN
28          id_28    object         2.256765              2        NaN
29          id_29    object         2.256765              2        NaN
30          id_30    object        46.222432             75        NaN
31          id_31    object         2.739318            130        NaN
32          id_32   float64        46.207872              4        0.0
33          id_33    object        49.187079            260        NaN
34          id_34    object        46.056034              4        NaN
35          id_35    object         2.251912              2        NaN
36          id_36    object         2.251912              2        NaN
37          id_37    object         2.251912              2        NaN
38          id_38    object         2.251912              2        NaN
39     DeviceType    object         2.373243              2        NaN
40     DeviceInfo    object        17.726179           1786        NaN

          Max          Mean     Median            Std  \
0   3577534.0  3.236329e+06  3198818.0  178849.571186
1         0.0 -1.017050e+01       -5.0      14.347949
2    999595.0  1.747166e+05   125800.5  159651.816856
3        10.0  6.018937e-02        0.0       0.598231
4         0.0 -5.893794e-02        0.0       0.701015
5        52.0  1.615585e+00        0.0       5.249856
6         0.0 -6.698710e+00        0.0      16.491104
7        61.0  1.328535e+01       14.0      11.384207
8         0.0 -3.860039e+01      -34.0      26.084899
9        25.0  9.102314e-02        0.0       0.983842
10        0.0 -3.011238e-01        0.0       2.789446
11      100.0  9.974532e+01      100.0       1.127602
12        NaN           NaN        NaN            NaN
13       64.0  4.805307e+01       52.0      11.774858
14      720.0 -3.445071e+02     -300.0      93.695502
15        NaN           NaN        NaN            NaN
16        NaN           NaN        NaN            NaN
17      229.0  1.894514e+02      166.0      30.375360
18       29.0  1.423734e+01       15.0       1.561302
19      671.0  3.531282e+02      341.0     141.095343
20      661.0  4.038827e+02      472.0     152.160327
21      854.0  3.682698e+02      252.0     198.847038
22       44.0  1.600271e+01       14.0       6.897665
23        NaN           NaN        NaN            NaN
24       26.0  1.280093e+01       11.0       2.372447
25      548.0  3.296089e+02      321.0      97.461089
26      216.0  1.490703e+02      149.0      32.101995
27        NaN           NaN        NaN            NaN
28        NaN           NaN        NaN            NaN
29        NaN           NaN        NaN            NaN
30        NaN           NaN        NaN            NaN
31        NaN           NaN        NaN            NaN
32       32.0  2.650860e+01       24.0       3.737502
33        NaN           NaN        NaN            NaN
34        NaN           NaN        NaN            NaN
35        NaN           NaN        NaN            NaN
36        NaN           NaN        NaN            NaN
37        NaN           NaN        NaN            NaN
38        NaN           NaN        NaN            NaN
39        NaN           NaN        NaN            NaN
40        NaN           NaN        NaN            NaN

                                       Unique Content
0
1
2
3   [nan, 0.0, 3.0, 2.0, 5.0, 1.0, 6.0, 9.0, 4.0, ...
4   [nan, 0.0, -11.0, -5.0, -8.0, -1.0, -6.0, -9.0...
5
6
7
8
9   [nan, 0.0, 3.0, 2.0, 1.0, 5.0, -8.0, 7.0, 4.0,...
10
11
12                                  [NotFound, Found]
13
14  [-480.0, -300.0, nan, -360.0, -420.0, -540.0, ...
15                         [New, Found, nan, Unknown]
16                             [NotFound, Found, nan]
17
18  [nan, 15.0, 18.0, 13.0, 12.0, 20.0, 21.0, 14.0...
19
20
21
22  [nan, 14.0, 41.0, 21.0, 33.0, 35.0, 19.0, 20.0...
23  [nan, IP_PROXY:TRANSPARENT, IP_PROXY:ANONYMOUS...
24  [nan, 11.0, 15.0, 16.0, 12.0, 21.0, 18.0, 25.0...
25
26
27                             [nan, Found, NotFound]
28                                  [New, Found, nan]
29                             [NotFound, Found, nan]
30  [Android 7.0, iOS 11.1.2, nan, Mac OS X 10_11_...
31  [samsung browser 6.2, mobile safari 11.0, chro...
32                       [32.0, nan, 24.0, 16.0, 0.0]
33  [2220x1080, 1334x750, nan, 1280x800, 1366x768,...
34  [match_status:2, match_status:1, nan, match_st...
35                                        [T, F, nan]
36                                        [F, nan, T]
37                                        [T, F, nan]
38                                        [T, nan, F]
39                             [mobile, desktop, nan]
40  [SAMSUNG SM-G892A Build/NRD90M, iOS Device, Wi...

# Normalization

### ID

Categóricas transformadas: id_12, id_15, id_16, id_23, id_27, id_28, id_29, id_30, id_31, id_33, id_34, id_35, id_36, id_37, id_38, DeviceType, DeviceInfo

Numéricas en float32: id_01, id_02, id_03, id_04, id_05, id_06, id_07, id_08, id_09, id_10, id_11, id_13, id_14, id_17, id_18, id_19, id_20, id_21, id_22, id_24, id_25, id_26, id_32

Columnas binarias: id_11_38_present, id_02_DeviceType_present, id_31_present, id_17_20_present, id_05_06_present, id_13_present, id_16_present, id_03_04_present, id_09_10_present, id_14_present, id_18_present, id_07_27_present, id_24_present

#### Columns names- to _ ID

In [292]:
df_id.columns = df_id.columns.str.replace('-', '_')

#### Conversion from float64 to float32

In [294]:
float64_cols = df_id.select_dtypes(include=['float64']).columns

df_id[float64_cols] = df_id[float64_cols].astype('float32')

#### ['id_35', 'id_36', 'id_37', 'id_38'] to boolean and float32

In [297]:
cat_cols = ['id_35', 'id_36', 'id_37', 'id_38']

for col in cat_cols:
    df_id[col] = df_id[col].map({'T': 1, 'F': 0}).astype('float32')

In [299]:
print(df_id[cat_cols].head())
print(df_id[cat_cols].dtypes)
print(df_id[cat_cols].isnull().sum())

   id_35  id_36  id_37  id_38
0    1.0    0.0    1.0    1.0
1    1.0    0.0    0.0    1.0
2    0.0    0.0    1.0    1.0
3    0.0    0.0    1.0    1.0
4    1.0    0.0    1.0    1.0
id_35    float32
id_36    float32
id_37    float32
id_38    float32
dtype: object
id_35    3248
id_36    3248
id_37    3248
id_38    3248
dtype: int64

In [301]:
print(df_id[cat_cols].isnull().corr())

       id_35  id_36  id_37  id_38
id_35    1.0    1.0    1.0    1.0
id_36    1.0    1.0    1.0    1.0
id_37    1.0    1.0    1.0    1.0
id_38    1.0    1.0    1.0    1.0

In [303]:
group_cols = ['id_35', 'id_36', 'id_37', 'id_38']

df_id['id_35_38_present'] = df_id[group_cols].notnull().any(axis=1).astype('int')

In [305]:
print(df_id[group_cols + ['id_35_38_present']].head(10))

print(df_id[group_cols].dropna().value_counts())

   id_35  id_36  id_37  id_38  id_35_38_present
0    1.0    0.0    1.0    1.0                 1
1    1.0    0.0    0.0    1.0                 1
2    0.0    0.0    1.0    1.0                 1
3    0.0    0.0    1.0    1.0                 1
4    1.0    0.0    1.0    1.0                 1
5    1.0    0.0    1.0    1.0                 1
6    NaN    NaN    NaN    NaN                 0
7    1.0    0.0    1.0    1.0                 1
8    0.0    0.0    1.0    1.0                 1
9    0.0    0.0    1.0    1.0                 1
id_35  id_36  id_37  id_38
0.0    0.0    1.0    0.0      35280
1.0    0.0    1.0    1.0      34228
                     0.0      19907
0.0    0.0    1.0    1.0      14725
1.0    0.0    0.0    1.0       9954
                     0.0       9263
0.0    0.0    0.0    0.0       7642
1.0    1.0    1.0    1.0       4001
0.0    0.0    0.0    1.0       3067
       1.0    1.0    0.0       1674
                     1.0        605
1.0    1.0    0.0    1.0        427
0.0    1.0    0.0    0.0        122
                     1.0         56
1.0    1.0    1.0    0.0         32
              0.0    0.0          2
Name: count, dtype: int64

#### Convert to number and float32 number and float32[id_15, id_28, id_29]

In [308]:
df_id['id_15'] = df_id['id_15'].map({'New': 0, 'Found': 1, 'Unknown': 2}).astype('float32')
df_id['id_28'] = df_id['id_28'].map({'New': 0, 'Found': 1}).astype('float32')
df_id['id_29'] = df_id['id_29'].map({'NotFound': 0, 'Found': 1}).astype('float32')

#### Correlation check ['id_11', 'id_15', 'id_28', 'id_29', 'id_35', 'id_36', 'id_37', 'id_38']

In [311]:
cols_to_check = ['id_11', 'id_15', 'id_28', 'id_29', 'id_35', 'id_36', 'id_37', 'id_38']
print(df_id[cols_to_check].isnull().corr())

          id_11     id_15     id_28     id_29     id_35     id_36     id_37  \
id_11  1.000000  0.998899  1.000000  1.000000  0.998899  0.998899  0.998899
id_15  0.998899  1.000000  0.998899  0.998899  1.000000  1.000000  1.000000
id_28  1.000000  0.998899  1.000000  1.000000  0.998899  0.998899  0.998899
id_29  1.000000  0.998899  1.000000  1.000000  0.998899  0.998899  0.998899
id_35  0.998899  1.000000  0.998899  0.998899  1.000000  1.000000  1.000000
id_36  0.998899  1.000000  0.998899  0.998899  1.000000  1.000000  1.000000
id_37  0.998899  1.000000  0.998899  0.998899  1.000000  1.000000  1.000000
id_38  0.998899  1.000000  0.998899  0.998899  1.000000  1.000000  1.000000

          id_38
id_11  0.998899
id_15  1.000000
id_28  0.998899
id_29  0.998899
id_35  1.000000
id_36  1.000000
id_37  1.000000
id_38  1.000000

In [313]:
df_id['id_11_38_present'] = df_id[cols_to_check].notnull().any(axis=1).astype('int')

In [315]:
print(df_id[cols_to_check + ['id_11_38_present']].head())

   id_11  id_15  id_28  id_29  id_35  id_36  id_37  id_38  id_11_38_present
0  100.0    0.0    0.0    0.0    1.0    0.0    1.0    1.0                 1
1  100.0    0.0    0.0    0.0    1.0    0.0    0.0    1.0                 1
2  100.0    1.0    1.0    1.0    0.0    0.0    1.0    1.0                 1
3  100.0    0.0    0.0    0.0    0.0    0.0    1.0    1.0                 1
4  100.0    1.0    1.0    1.0    1.0    0.0    1.0    1.0                 1

In [317]:
print(df_id[cols_to_check].dropna().value_counts())

id_11       id_15  id_28  id_29  id_35  id_36  id_37  id_38
100.000000  1.0    1.0    1.0    1.0    0.0    1.0    1.0      20544
                                 0.0    0.0    1.0    0.0      18998
            0.0    0.0    0.0    0.0    0.0    1.0    0.0      15061
            1.0    1.0    1.0    1.0    0.0    1.0    0.0      11670
            0.0    0.0    0.0    1.0    0.0    1.0    1.0      10830
                                                               ...
94.739998   2.0    1.0    1.0    1.0    0.0    0.0    0.0          1
94.760002   2.0    1.0    1.0    1.0    0.0    0.0    1.0          1
94.790001   0.0    1.0    1.0    1.0    0.0    1.0    0.0          1
                                        1.0    1.0    1.0          1
95.510002   1.0    1.0    1.0    1.0    1.0    1.0    1.0          1
Name: count, Length: 967, dtype: int64

#### ['id_07', 'id_08', 'id_21', 'id_22', 'id_23', 'id_24', 'id_25', 'id_26', 'id_27']

In [320]:
cols_to_check = ['id_07', 'id_08', 'id_21', 'id_22', 'id_23', 'id_24', 'id_25', 'id_26', 'id_27']
print(df_id[cols_to_check].isnull().corr())

          id_07     id_08     id_21     id_22     id_23     id_24     id_25  \
id_07  1.000000  1.000000  0.997587  0.998595  0.998595  0.958207  0.994862
id_08  1.000000  1.000000  0.997587  0.998595  0.998595  0.958207  0.994862
id_21  0.997587  0.997587  1.000000  0.998996  0.998996  0.956566  0.995268
id_22  0.998595  0.998595  0.998996  1.000000  1.000000  0.956860  0.996282
id_23  0.998595  0.998595  0.998996  1.000000  1.000000  0.956860  0.996282
id_24  0.958207  0.958207  0.956566  0.956860  0.956860  1.000000  0.952878
id_25  0.994862  0.994862  0.995268  0.996282  0.996282  0.952878  1.000000
id_26  0.997990  0.997990  0.998392  0.999398  0.999398  0.956181  0.996681
id_27  0.998595  0.998595  0.998996  1.000000  1.000000  0.956860  0.996282

          id_26     id_27
id_07  0.997990  0.998595
id_08  0.997990  0.998595
id_21  0.998392  0.998996
id_22  0.999398  1.000000
id_23  0.999398  1.000000
id_24  0.956181  0.956860
id_25  0.996681  0.996282
id_26  1.000000  0.999398
id_27  0.999398  1.000000

In [322]:
float_cols = ['id_07', 'id_08', 'id_21', 'id_22', 'id_24', 'id_25', 'id_26']
df_id[float_cols] = df_id[float_cols].astype('float32')

df_id['id_07_27_present'] = df_id[cols_to_check].notnull().any(axis=1).astype('int')

In [324]:
print(df_id[cols_to_check + ['id_07_27_present']].head(10))

   id_07  id_08  id_21  id_22 id_23  id_24  id_25  id_26 id_27  \
0    NaN    NaN    NaN    NaN   NaN    NaN    NaN    NaN   NaN
1    NaN    NaN    NaN    NaN   NaN    NaN    NaN    NaN   NaN
2    NaN    NaN    NaN    NaN   NaN    NaN    NaN    NaN   NaN
3    NaN    NaN    NaN    NaN   NaN    NaN    NaN    NaN   NaN
4    NaN    NaN    NaN    NaN   NaN    NaN    NaN    NaN   NaN
5    NaN    NaN    NaN    NaN   NaN    NaN    NaN    NaN   NaN
6    NaN    NaN    NaN    NaN   NaN    NaN    NaN    NaN   NaN
7    NaN    NaN    NaN    NaN   NaN    NaN    NaN    NaN   NaN
8    NaN    NaN    NaN    NaN   NaN    NaN    NaN    NaN   NaN
9    NaN    NaN    NaN    NaN   NaN    NaN    NaN    NaN   NaN

   id_07_27_present
0                 0
1                 0
2                 0
3                 0
4                 0
5                 0
6                 0
7                 0
8                 0
9                 0

In [326]:
print(df_id[['id_23', 'id_27']].dropna().value_counts()) 
print(df_id[['id_07', 'id_08', 'id_21']].dropna().value_counts())

id_23                 id_27
IP_PROXY:TRANSPARENT  Found       3476
IP_PROXY:ANONYMOUS    Found       1070
IP_PROXY:HIDDEN       Found        609
IP_PROXY:TRANSPARENT  NotFound      13
IP_PROXY:ANONYMOUS    NotFound       1
Name: count, dtype: int64
id_07  id_08   id_21
0.0     0.0    252.0    37
               255.0    35
13.0   -34.0   252.0    20
16.0   -35.0   252.0    18
17.0   -100.0  252.0    18
                        ..
8.0    -27.0   432.0     1
       -26.0   770.0     1
       -25.0   252.0     1
       -24.0   286.0     1
61.0   -51.0   252.0     1
Name: count, Length: 3003, dtype: int64

#### ['id_12'] to boolean and float32

In [329]:
df_id['id_12'] = df_id['id_12'].map({'NotFound': 0, 'Found': 1}).astype('float32')

In [331]:
print(df_id['id_12'].head())
print(df_id['id_12'].value_counts())
print(df_id['id_12'].dtype)

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: id_12, dtype: float32
id_12
0.0    123025
1.0     21208
Name: count, dtype: int64
float32

In [333]:
print(df_id.groupby('id_12')['DeviceType'].value_counts())

id_12  DeviceType
0.0    desktop       70630
       mobile        49475
1.0    desktop       14535
       mobile         6170
Name: count, dtype: int64

#### ['id_16'] to boolean and float32

In [336]:
df_id['id_16'] = df_id['id_16'].map({'NotFound': 0, 'Found': 1}).astype('float32')

In [338]:
print(df_id['id_16'].head())
print(df_id['id_16'].value_counts(dropna=False))
print(df_id['id_16'].dtype)

0    0.0
1    0.0
2    1.0
3    0.0
4    1.0
Name: id_16, dtype: float32
id_16
1.0    66324
0.0    63016
NaN    14893
Name: count, dtype: int64
float32

#### ['id_30', 'id_32', 'id_33', 'id_34']

In [341]:
cols_to_check = ['id_30', 'id_32', 'id_33', 'id_34']
print(df_id[cols_to_check].isnull().corr())

          id_30     id_32     id_33     id_34
id_30  1.000000  0.999707  0.941712  0.974840
id_32  0.999707  1.000000  0.942020  0.975132
id_33  0.941712  0.942020  1.000000  0.918669
id_34  0.974840  0.975132  0.918669  1.000000

##### ['id_34']

In [344]:
df_id['id_34'] = df_id['id_34'].map({
    'match_status:2': 2,
    'match_status:1': 1,
    'match_status:0': 0,
    'match_status:-1': -1
}).astype('float32')

##### ['id_30']

In [347]:
def group_os(os):
    if pd.isna(os):
        return 'nan'
    os = os.lower()
    if 'android' in os:
        return 'Android'
    elif 'ios' in os:
        return 'iOS'
    elif 'windows' in os:
        return 'Windows'
    elif 'mac' in os:
        return 'Mac'
    else:
        return 'Other'

In [349]:
df_id['id_30_grouped'] = df_id['id_30'].apply(group_os)
df_id['id_30'] = df_id['id_30_grouped'].map({
    'Android': 0,
    'iOS': 1,
    'Windows': 2,
    'Mac': 3,
    'Other': 4,
    'nan': float('nan')
}).astype('float32')
df_id = df_id.drop(columns=['id_30_grouped'])

##### ['id_30', 'id_32', 'id_33', 'id_34']

In [352]:
df_id['id_30_34_present'] = df_id[cols_to_check].notnull().any(axis=1).astype('int')

#### ['DeviceType']

In [355]:
df_id['DeviceType'] = df_id['DeviceType'].map({
    'mobile': 0,
    'desktop': 1
}).astype('float32')

#### ['id_31']

In [358]:
def group_browser(browser):
    if pd.isna(browser):
        return 'nan'
    browser = browser.lower()
    if 'chrome' in browser:
        return 'Chrome'
    elif 'safari' in browser:
        return 'Safari'
    elif 'firefox' in browser:
        return 'Firefox'
    elif 'samsung' in browser:
        return 'Samsung'
    else:
        return 'Other'

In [360]:
df_id['id_31_grouped'] = df_id['id_31'].apply(group_browser)
df_id['id_31'] = df_id['id_31_grouped'].map({
    'Chrome': 0,
    'Safari': 1,
    'Firefox': 2,
    'Samsung': 3,
    'Other': 4,
    'nan': float('nan')
}).astype('float32')
df_id = df_id.drop(columns=['id_31_grouped'])

#### ['DeviceInfo']

In [363]:
def group_device_info(device):
    if pd.isna(device):
        return 'nan'
    device = device.lower()
    if 'samsung' in device:
        return 'Samsung'
    elif 'ios' in device:
        return 'iOS'
    elif 'windows' in device:
        return 'Windows'
    elif 'mac' in device:
        return 'Mac'
    else:
        return 'Other'

In [365]:
df_id['DeviceInfo_grouped'] = df_id['DeviceInfo'].apply(group_device_info)
df_id['DeviceInfo'] = df_id['DeviceInfo_grouped'].map({
    'Samsung': 0,
    'iOS': 1,
    'Windows': 2,
    'Mac': 3,
    'Other': 4,
    'nan': float('nan')
}).astype('float32')
df_id = df_id.drop(columns=['DeviceInfo_grouped'])

#### Show results

In [368]:
print(df_id[['id_30', 'id_31', 'id_32', 'id_33', 'id_34', 'DeviceType', 'DeviceInfo', 'id_30_34_present']].head())
print(df_id['id_30'].value_counts(dropna=False))
print(df_id['id_31'].value_counts(dropna=False))
print(df_id['DeviceType'].value_counts(dropna=False))
print(df_id['DeviceInfo'].value_counts(dropna=False))

   id_30  id_31  id_32      id_33  id_34  DeviceType  DeviceInfo  \
0    0.0    3.0   32.0  2220x1080    2.0         0.0         0.0
1    1.0    1.0   32.0   1334x750    1.0         0.0         1.0
2    NaN    0.0    NaN        NaN    NaN         1.0         2.0
3    NaN    0.0    NaN        NaN    NaN         1.0         NaN
4    3.0    0.0   24.0   1280x800    2.0         1.0         3.0

   id_30_34_present
0                 1
1                 1
2                 0
3                 0
4                 1
id_30
NaN    66668
2.0    36739
1.0    19782
3.0    13580
0.0     6303
4.0     1161
Name: count, dtype: int64
id_31
0.0    76059
1.0    37281
4.0    17678
2.0     7017
NaN     3951
3.0     2247
Name: count, dtype: int64
DeviceType
1.0    85165
0.0    55645
NaN     3423
Name: count, dtype: int64
DeviceInfo
2.0    47775
4.0    35844
NaN    25567
1.0    19782
3.0    12573
0.0     2692
Name: count, dtype: int64

In [370]:
cols_to_check = ['id_02', 'id_11', 'id_15', 'id_28', 'id_29', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType', 'id_31']
print(df_id[cols_to_check].isnull().corr())

               id_02     id_11     id_15     id_28     id_29     id_35  \
id_02       1.000000  0.981568  0.982652  0.981568  0.981568  0.982652
id_11       0.981568  1.000000  0.998899  1.000000  1.000000  0.998899
id_15       0.982652  0.998899  1.000000  0.998899  0.998899  1.000000
id_28       0.981568  1.000000  0.998899  1.000000  1.000000  0.998899
id_29       0.981568  1.000000  0.998899  1.000000  1.000000  0.998899
id_35       0.982652  0.998899  1.000000  0.998899  0.998899  1.000000
id_36       0.982652  0.998899  1.000000  0.998899  0.998899  1.000000
id_37       0.982652  0.998899  1.000000  0.998899  0.998899  1.000000
id_38       0.982652  0.998899  1.000000  0.998899  0.998899  1.000000
DeviceType  0.990684  0.974570  0.973498  0.974570  0.974570  0.973498
id_31       0.920385  0.905414  0.904418  0.905414  0.905414  0.904418

               id_36     id_37     id_38  DeviceType     id_31
id_02       0.982652  0.982652  0.982652    0.990684  0.920385
id_11       0.998899  0.998899  0.998899    0.974570  0.905414
id_15       1.000000  1.000000  1.000000    0.973498  0.904418
id_28       0.998899  0.998899  0.998899    0.974570  0.905414
id_29       0.998899  0.998899  0.998899    0.974570  0.905414
id_35       1.000000  1.000000  1.000000    0.973498  0.904418
id_36       1.000000  1.000000  1.000000    0.973498  0.904418
id_37       1.000000  1.000000  1.000000    0.973498  0.904418
id_38       1.000000  1.000000  1.000000    0.973498  0.904418
DeviceType  0.973498  0.973498  0.973498    1.000000  0.915087
id_31       0.904418  0.904418  0.904418    0.915087  1.000000

In [372]:
subgroup_cols = ['id_02', 'DeviceType']
df_id['id_02_DeviceType_present'] = df_id[subgroup_cols].notnull().any(axis=1).astype('int')

In [374]:
df_id['id_31_present'] = df_id['id_31'].notnull().astype('int')

In [376]:
print(df_id[['id_02', 'DeviceType', 'id_02_DeviceType_present']].head())
print(df_id[['id_31', 'id_31_present']].head())

      id_02  DeviceType  id_02_DeviceType_present
0   70787.0         0.0                         1
1   98945.0         0.0                         1
2  191631.0         1.0                         1
3  221832.0         1.0                         1
4    7460.0         1.0                         1
   id_31  id_31_present
0    3.0              1
1    1.0              1
2    0.0              1
3    0.0              1
4    0.0              1

#### ['id_17', 'id_19', 'id_20']

In [379]:
cols_to_check = ['id_17', 'id_19', 'id_20']
print(df_id[cols_to_check].isnull().corr())

          id_17     id_19     id_20
id_17  1.000000  0.994616  0.988696
id_19  0.994616  1.000000  0.983784
id_20  0.988696  0.983784  1.000000

In [381]:
df_id['id_17_20_present'] = df_id[cols_to_check].notnull().any(axis=1).astype('int')

In [383]:
print(df_id[cols_to_check + ['id_17_20_present']].head(10))

   id_17  id_19  id_20  id_17_20_present
0  166.0  542.0  144.0                 1
1  166.0  621.0  500.0                 1
2  121.0  410.0  142.0                 1
3  225.0  176.0  507.0                 1
4  166.0  529.0  575.0                 1
5  166.0  529.0  600.0                 1
6    NaN    NaN    NaN                 0
7  166.0  352.0  533.0                 1
8  121.0  410.0  142.0                 1
9  225.0  484.0  507.0                 1

#### ['id_05', 'id_06']

In [386]:
cols_to_check = ['id_05', 'id_06']
print(df_id[cols_to_check].isnull().corr())

       id_05  id_06
id_05    1.0    1.0
id_06    1.0    1.0

In [388]:
df_id[cols_to_check] = df_id[cols_to_check].astype('float32')

In [390]:
df_id['id_05_06_present'] = df_id[cols_to_check].notnull().any(axis=1).astype('int')

In [392]:
print(df_id[cols_to_check + ['id_05_06_present']].head(10))

   id_05  id_06  id_05_06_present
0    NaN    NaN                 0
1    0.0   -5.0                 1
2    0.0    0.0                 1
3    0.0   -6.0                 1
4    1.0    0.0                 1
5    3.0    0.0                 1
6    NaN    NaN                 0
7    0.0  -10.0                 1
8    0.0    0.0                 1
9    0.0    0.0                 1

#### ['id_13', 'id_16']

In [395]:
cols_to_check = ['id_13', 'id_16']
print(df_id[cols_to_check].isnull().corr())

          id_13     id_16
id_13  1.000000 -0.123676
id_16 -0.123676  1.000000

In [397]:
both_nan = df_id[['id_13', 'id_16']].isna().all(axis=1).sum()
print(f"Filas con NaN en ambas (id_13 y id_16): {both_nan}")

id_13_nan_id_16_not_nan = df_id[df_id['id_13'].isna() & df_id['id_16'].notna()].shape[0]
print(f"Filas con NaN en id_13 pero no en id_16: {id_13_nan_id_16_not_nan}")

id_16_nan_id_13_not_nan = df_id[df_id['id_16'].isna() & df_id['id_13'].notna()].shape[0]
print(f"Filas con NaN en id_16 pero no en id_13: {id_16_nan_id_13_not_nan}")

Filas con NaN en ambas (id_13 y id_16): 0
Filas con NaN en id_13 pero no en id_16: 16913
Filas con NaN en id_16 pero no en id_13: 14893

In [399]:
df_id['id_13_present'] = df_id['id_13'].notnull().astype('int')

In [401]:
df_id['id_16_present'] = df_id['id_16'].notnull().astype('int')

#### ['id_03', 'id_04', 'id_09', 'id_10', 'id_14']

In [404]:
cols_to_check = ['id_03', 'id_04', 'id_09', 'id_10', 'id_14']
print(df_id[cols_to_check].isnull().corr())

          id_03     id_04     id_09     id_10     id_14
id_03  1.000000  1.000000  0.885495  0.885495  0.074897
id_04  1.000000  1.000000  0.885495  0.885495  0.074897
id_09  0.885495  0.885495  1.000000  1.000000  0.100100
id_10  0.885495  0.885495  1.000000  1.000000  0.100100
id_14  0.074897  0.074897  0.100100  0.100100  1.000000

In [406]:
df_id['id_03_04_present'] = df_id[['id_03', 'id_04']].notnull().any(axis=1).astype('int')

df_id['id_09_10_present'] = df_id[['id_09', 'id_10']].notnull().any(axis=1).astype('int')

df_id['id_14_present'] = df_id['id_14'].notnull().astype('int')

print(df_id[cols_to_check + ['id_03_04_present', 'id_09_10_present', 'id_14_present']].head(10))

   id_03  id_04  id_09  id_10  id_14  id_03_04_present  id_09_10_present  \
0    NaN    NaN    NaN    NaN -480.0                 0                 0
1    NaN    NaN    NaN    NaN -300.0                 0                 0
2    0.0    0.0    0.0    0.0    NaN                 1                 1
3    NaN    NaN    NaN    NaN    NaN                 0                 0
4    0.0    0.0    0.0    0.0 -300.0                 1                 1
5    3.0    0.0    3.0    0.0 -300.0                 1                 1
6    NaN    NaN    NaN    NaN    NaN                 0                 0
7    0.0    0.0    0.0    0.0 -300.0                 1                 1
8    0.0    0.0    0.0    0.0    NaN                 1                 1
9    NaN    NaN    NaN    NaN    NaN                 0                 0

   id_14_present
0              1
1              1
2              0
3              0
4              1
5              1
6              0
7              1
8              0
9              0

#### ['id_18']

In [409]:
df_id['id_18_present'] = df_id['id_18'].notnull().astype('int')

In [411]:
print(df_id[['id_18', 'id_18_present']].head(10))
print(f"Filas con NaN en id_18: {df_id['id_18'].isna().sum()}")
print(f"Filas con id_18_present = 0: {df_id['id_18_present'].eq(0).sum()}")

   id_18  id_18_present
0    NaN              0
1    NaN              0
2    NaN              0
3    NaN              0
4   15.0              1
5   18.0              1
6    NaN              0
7   15.0              1
8    NaN              0
9    NaN              0
Filas con NaN en id_18: 99120
Filas con id_18_present = 0: 99120

#### ['id_07', 'id_08', 'id_21', 'id_22', 'id_23', 'id_24', 'id_25', 'id_26', 'id_27']

In [414]:
cols_to_check = ['id_07', 'id_08', 'id_21', 'id_22', 'id_23', 'id_24', 'id_25', 'id_26', 'id_27']
print(df_id[cols_to_check].isnull().corr())

          id_07     id_08     id_21     id_22     id_23     id_24     id_25  \
id_07  1.000000  1.000000  0.997587  0.998595  0.998595  0.958207  0.994862
id_08  1.000000  1.000000  0.997587  0.998595  0.998595  0.958207  0.994862
id_21  0.997587  0.997587  1.000000  0.998996  0.998996  0.956566  0.995268
id_22  0.998595  0.998595  0.998996  1.000000  1.000000  0.956860  0.996282
id_23  0.998595  0.998595  0.998996  1.000000  1.000000  0.956860  0.996282
id_24  0.958207  0.958207  0.956566  0.956860  0.956860  1.000000  0.952878
id_25  0.994862  0.994862  0.995268  0.996282  0.996282  0.952878  1.000000
id_26  0.997990  0.997990  0.998392  0.999398  0.999398  0.956181  0.996681
id_27  0.998595  0.998595  0.998996  1.000000  1.000000  0.956860  0.996282

          id_26     id_27
id_07  0.997990  0.998595
id_08  0.997990  0.998595
id_21  0.998392  0.998996
id_22  0.999398  1.000000
id_23  0.999398  1.000000
id_24  0.956181  0.956860
id_25  0.996681  0.996282
id_26  1.000000  0.999398
id_27  0.999398  1.000000

In [416]:
all_nan = df_id[cols_to_check].isna().all(axis=1).sum()
print(f"Rows with NaN in all: {all_nan}")

Rows with NaN in all: 139064

In [418]:
id_24_nan_others_not = df_id[df_id['id_24'].isna() & ~df_id[['id_07', 'id_08', 'id_21', 'id_22', 'id_23', 'id_25', 'id_26', 'id_27']].isna().all(axis=1)].shape[0]
print(f"Rows with NaN in id_24 but not in all others: {id_24_nan_others_not}")

Rows with NaN in id_24 but not in all others: 422

In [420]:
id_24_nan_subset = df_id[df_id['id_24'].isna() & ~df_id[['id_07', 'id_08', 'id_21', 'id_22', 'id_23', 'id_25', 'id_26', 'id_27']].isna().all(axis=1)]
print(id_24_nan_subset[['id_07', 'id_08', 'id_21', 'id_22', 'id_23', 'id_24', 'id_25', 'id_26', 'id_27']].head())

      id_07  id_08  id_21  id_22               id_23  id_24  id_25  id_26  \
383     4.0  -44.0  369.0   21.0  IP_PROXY:ANONYMOUS    NaN  205.0  191.0
1105   10.0  -21.0  255.0   41.0  IP_PROXY:ANONYMOUS    NaN  356.0  215.0
1107    5.0  -21.0  255.0   41.0  IP_PROXY:ANONYMOUS    NaN  356.0  215.0
1230    1.0  -11.0  457.0   41.0     IP_PROXY:HIDDEN    NaN  191.0  215.0
1253    1.0  -11.0  457.0   41.0     IP_PROXY:HIDDEN    NaN  191.0  215.0

      id_27
383   Found
1105  Found
1107  Found
1230  Found
1253  Found

#### ['id_33']

In [423]:
def group_resolution(res):
    if pd.isna(res):
        return float('nan')
    try:
        width, height = map(int, res.split('x'))
        area = width * height
        if area <= 1_000_000:
            return 'small'
        elif area <= 2_500_000:
            return 'medium'
        else:
            return 'large'
    except:
        return 'other'

In [425]:
df_id['id_33_grouped'] = df_id['id_33'].apply(group_resolution)

In [427]:
df_id['id_33'] = df_id['id_33_grouped'].map({
    'small': 0,
    'medium': 1,
    'large': 2,
    'other': 3,
    'nan': float('nan')
}).astype('float32')

In [429]:
df_id = df_id.drop(columns=['id_33_grouped'])

In [431]:
print(df_id['id_33'].value_counts(dropna=False))

id_33
NaN    70944
1.0    49747
2.0    18904
0.0     4638
Name: count, dtype: int64

Categóricas transformadas: id_12, id_15, id_16, id_23, id_27, id_28, id_29, id_30, id_31, id_33, id_34, id_35, id_36, id_37, id_38, DeviceType, DeviceInfo

Numéricas en float32: id_01, id_02, id_03, id_04, id_05, id_06, id_07, id_08, id_09, id_10, id_11, id_13, id_14, id_17, id_18, id_19, id_20, id_21, id_22, id_24, id_25, id_26, id_32

Columnas binarias: id_11_38_present, id_02_DeviceType_present, id_31_present, id_17_20_present, id_05_06_present, id_13_present, id_16_present, id_03_04_present, id_09_10_present, id_14_present, id_18_present, id_07_27_present, id_24_present

#### ['id_23']

In [435]:
df_id['id_23'] = df_id['id_23'].map({
    'IP_PROXY:TRANSPARENT': 0,
    'IP_PROXY:ANONYMOUS': 1,
    'IP_PROXY:HIDDEN': 2
}).astype('float32')

#### ['id_27']

In [438]:
df_id['id_27'] = df_id['id_27'].map({
    'NotFound': 0,
    'Found': 1
}).astype('float32')

#### ['id_24']

In [441]:
df_id['id_24_present'] = df_id['id_24'].notnull().astype('int')

In [443]:
print(df_id[['id_24', 'id_24_present']].head(10))

   id_24  id_24_present
0    NaN              0
1    NaN              0
2    NaN              0
3    NaN              0
4    NaN              0
5    NaN              0
6    NaN              0
7    NaN              0
8    NaN              0
9    NaN              0

In [445]:
print(f"Rows with NaN in id_24: {df_id['id_24'].isna().sum()}")
print(f"Rows with id_24_present = 0: {df_id['id_24_present'].eq(0).sum()}")

Rows with NaN in id_24: 139486
Rows with id_24_present = 0: 139486

# Output after cleaning ID

In [123]:
create_summary_excel(df_id)

Do you want to include statistical data and unique values? (yes/no):  yes
Do you want to save the summary to an Excel file? (yes/no):  yes
Enter the file name (without extension):  df_id_after_cleaning

File saved as df_id_after_cleaning.xlsx

Summary DataFrame:
                 Column Name Data Type  Percentage Null  Unique Values  \
0              TransactionID     int64         0.000000         144233
1                      id_01   float32         0.000000             77
2                      id_02   float32         2.330257         115655
3                      id_03   float32        54.016071             24
4                      id_04   float32        54.016071             15
5                      id_05   float32         5.108401             93
6                      id_06   float32         5.108401            101
7                      id_07   float32        96.425922             84
8                      id_08   float32        96.425922             94
9                      id_09   float32        48.052110             46
10                     id_10   float32        48.052110             62
11                     id_11   float32         2.256765            365
12                     id_12   float32         0.000000              2
13                     id_13   float32        11.726165             54
14                     id_14   float32        44.503685             25
15                     id_15   float32         2.251912              3
16                     id_16   float32        10.325654              2
17                     id_17   float32         3.372321            104
18                     id_18   float32        68.722137             18
19                     id_19   float32         3.407681            522
20                     id_20   float32         3.447200            394
21                     id_21   float32        96.423149            490
22                     id_22   float32        96.416215             25
23                     id_23   float32        96.416215              3
24                     id_24   float32        96.708798             12
25                     id_25   float32        96.441868            341
26                     id_26   float32        96.420375             95
27                     id_27   float32        96.416215              2
28                     id_28   float32         2.256765              2
29                     id_29   float32         2.256765              2
30                     id_30   float32        46.222432              5
31                     id_31   float32         2.739318              5
32                     id_32   float32        46.207872              4
33                     id_33   float32        49.187079              3
34                     id_34   float32        46.056034              4
35                     id_35   float32         2.251912              2
36                     id_36   float32         2.251912              2
37                     id_37   float32         2.251912              2
38                     id_38   float32         2.251912              2
39                DeviceType   float32         2.373243              2
40                DeviceInfo   float32        17.726179              5
41          id_35_38_present     int32         0.000000              2
42          id_11_38_present     int32         0.000000              2
43          id_07_27_present     int32         0.000000              2
44          id_30_34_present     int32         0.000000              2
45  id_02_DeviceType_present     int32         0.000000              2
46             id_31_present     int32         0.000000              2
47          id_17_20_present     int32         0.000000              2
48          id_05_06_present     int32         0.000000              2
49             id_13_present     int32         0.000000              2
50             id_16_present     int32         0.000000              2
51          id_03_04_present     int32         0.000000              2
52          id_09_10_present     int32         0.000000              2
53             id_14_present     int32         0.000000              2
54             id_18_present     int32         0.000000              2
55             id_24_present     int32         0.000000              2

          Min        Max          Mean     Median            Std  \
0   2987004.0  3577534.0  3.236329e+06  3198818.0  178849.571186
1      -100.0        0.0 -1.017050e+01       -5.0      14.342789
2         1.0   999595.0  1.747166e+05   125800.5  159650.000000
3       -13.0       10.0  6.018937e-02        0.0       0.598342
4       -28.0        0.0 -5.893794e-02        0.0       0.701242
5       -72.0       52.0  1.615585e+00        0.0       5.247610
6      -100.0        0.0 -6.698710e+00        0.0      16.482006
7       -46.0       61.0  1.328535e+01       14.0      11.384203
8      -100.0        0.0 -3.860039e+01      -34.0      26.084953
9       -36.0       25.0  9.102314e-02        0.0       0.983644
10     -100.0        0.0 -3.011238e-01        0.0       2.789352
11       90.0      100.0  9.974533e+01      100.0       1.126752
12        0.0        1.0  1.470399e-01        0.0       0.354060
13       10.0       64.0  4.805307e+01       52.0      11.776752
14     -660.0      720.0 -3.445071e+02     -300.0      93.716148
15        0.0        2.0  6.455864e-01        1.0       0.627675
16        0.0        1.0  5.127880e-01        1.0       0.500211
17      100.0      229.0  1.894514e+02      166.0      30.377136
18       10.0       29.0  1.423734e+01       15.0       1.561116
19      100.0      671.0  3.531281e+02      341.0     141.112030
20      100.0      661.0  4.038826e+02      472.0     152.158493
21      100.0      854.0  3.682698e+02      252.0     198.849014
22       10.0       44.0  1.600271e+01       14.0       6.897755
23        0.0        2.0  4.428323e-01        0.0       0.694580
24       11.0       26.0  1.280093e+01       11.0       2.372468
25      100.0      548.0  3.296089e+02      321.0      97.462585
26      100.0      216.0  1.490703e+02      149.0      32.101933
27        0.0        1.0  9.972916e-01        1.0       0.051978
28        0.0        1.0  5.407369e-01        1.0       0.498445
29        0.0        1.0  5.314730e-01        1.0       0.498907
30        0.0        4.0  1.787456e+00        2.0       0.877588
31        0.0        4.0  9.179225e-01        0.0       1.335538
32        0.0       32.0  2.650860e+01       24.0       3.737366
33        0.0        2.0  1.194654e+00        1.0       0.532216
34       -1.0        2.0  1.765889e+00        2.0       0.436059
35        0.0        1.0  5.519311e-01        1.0       0.497402
36        0.0        1.0  4.907614e-02        0.0       0.216095
37        0.0        1.0  7.834309e-01        1.0       0.411800
38        0.0        1.0  4.756747e-01        0.0       0.499649
39        0.0        1.0  6.048221e-01        1.0       0.488874
40        0.0        4.0  2.497994e+00        2.0       1.150605
41        0.0        1.0  9.774809e-01        1.0       0.148365
42        0.0        1.0  9.774809e-01        1.0       0.148365
43        0.0        1.0  3.583785e-02        0.0       0.185886
44        0.0        1.0  5.448614e-01        1.0       0.497985
45        0.0        1.0  9.766974e-01        1.0       0.150863
46        0.0        1.0  9.726068e-01        1.0       0.163227
47        0.0        1.0  9.662768e-01        1.0       0.180516
48        0.0        1.0  9.489160e-01        1.0       0.220170
49        0.0        1.0  8.827383e-01        1.0       0.321733
50        0.0        1.0  8.967435e-01        1.0       0.304295
51        0.0        1.0  4.598393e-01        0.0       0.498386
52        0.0        1.0  5.194789e-01        1.0       0.499622
53        0.0        1.0  5.549631e-01        1.0       0.496972
54        0.0        1.0  3.127786e-01        0.0       0.463627
55        0.0        1.0  3.291202e-02        0.0       0.178407

                                       Unique Content
0
1
2
3   [nan, 0.0, 3.0, 2.0, 5.0, 1.0, 6.0, 9.0, 4.0, ...
4   [nan, 0.0, -11.0, -5.0, -8.0, -1.0, -6.0, -9.0...
5
6
7
8
9   [nan, 0.0, 3.0, 2.0, 1.0, 5.0, -8.0, 7.0, 4.0,...
10
11
12                                         [0.0, 1.0]
13
14  [-480.0, -300.0, nan, -360.0, -420.0, -540.0, ...
15                               [0.0, 1.0, nan, 2.0]
16                                    [0.0, 1.0, nan]
17
18  [nan, 15.0, 18.0, 13.0, 12.0, 20.0, 21.0, 14.0...
19
20
21
22  [nan, 14.0, 41.0, 21.0, 33.0, 35.0, 19.0, 20.0...
23                               [nan, 0.0, 1.0, 2.0]
24  [nan, 11.0, 15.0, 16.0, 12.0, 21.0, 18.0, 25.0...
25
26
27                                    [nan, 1.0, 0.0]
28                                    [0.0, 1.0, nan]
29                                    [0.0, 1.0, nan]
30                     [0.0, 1.0, nan, 3.0, 2.0, 4.0]
31                     [3.0, 1.0, 0.0, nan, 4.0, 2.0]
32                       [32.0, nan, 24.0, 16.0, 0.0]
33                               [1.0, nan, 0.0, 2.0]
34                         [2.0, 1.0, nan, 0.0, -1.0]
35                                    [1.0, 0.0, nan]
36                                    [0.0, nan, 1.0]
37                                    [1.0, 0.0, nan]
38                                    [1.0, nan, 0.0]
39                                    [0.0, 1.0, nan]
40                     [0.0, 1.0, 2.0, nan, 3.0, 4.0]
41                                             [1, 0]
42                                             [1, 0]
43                                             [0, 1]
44                                             [1, 0]
45                                             [1, 0]
46                                             [1, 0]
47                                             [1, 0]
48                                             [0, 1]
49                                             [0, 1]
50                                             [1, 0]
51                                             [0, 1]
52                                             [0, 1]
53                                             [1, 0]
54                                             [0, 1]
55                                             [0, 1]

In [125]:
create_summary_csv(df_id)

Do you want to include statistical data and unique values? (yes/no):  yes
Do you want to save the summary to a CSV file? (yes/no):  yes
Enter the file name (without extension):  df_id_after_cleaning

File saved as df_id_after_cleaning.csv

Summary DataFrame:
                 Column Name Data Type  Percentage Null  Unique Values  \
0              TransactionID     int64         0.000000         144233
1                      id_01   float32         0.000000             77
2                      id_02   float32         2.330257         115655
3                      id_03   float32        54.016071             24
4                      id_04   float32        54.016071             15
5                      id_05   float32         5.108401             93
6                      id_06   float32         5.108401            101
7                      id_07   float32        96.425922             84
8                      id_08   float32        96.425922             94
9                      id_09   float32        48.052110             46
10                     id_10   float32        48.052110             62
11                     id_11   float32         2.256765            365
12                     id_12   float32         0.000000              2
13                     id_13   float32        11.726165             54
14                     id_14   float32        44.503685             25
15                     id_15   float32         2.251912              3
16                     id_16   float32        10.325654              2
17                     id_17   float32         3.372321            104
18                     id_18   float32        68.722137             18
19                     id_19   float32         3.407681            522
20                     id_20   float32         3.447200            394
21                     id_21   float32        96.423149            490
22                     id_22   float32        96.416215             25
23                     id_23   float32        96.416215              3
24                     id_24   float32        96.708798             12
25                     id_25   float32        96.441868            341
26                     id_26   float32        96.420375             95
27                     id_27   float32        96.416215              2
28                     id_28   float32         2.256765              2
29                     id_29   float32         2.256765              2
30                     id_30   float32        46.222432              5
31                     id_31   float32         2.739318              5
32                     id_32   float32        46.207872              4
33                     id_33   float32        49.187079              3
34                     id_34   float32        46.056034              4
35                     id_35   float32         2.251912              2
36                     id_36   float32         2.251912              2
37                     id_37   float32         2.251912              2
38                     id_38   float32         2.251912              2
39                DeviceType   float32         2.373243              2
40                DeviceInfo   float32        17.726179              5
41          id_35_38_present     int32         0.000000              2
42          id_11_38_present     int32         0.000000              2
43          id_07_27_present     int32         0.000000              2
44          id_30_34_present     int32         0.000000              2
45  id_02_DeviceType_present     int32         0.000000              2
46             id_31_present     int32         0.000000              2
47          id_17_20_present     int32         0.000000              2
48          id_05_06_present     int32         0.000000              2
49             id_13_present     int32         0.000000              2
50             id_16_present     int32         0.000000              2
51          id_03_04_present     int32         0.000000              2
52          id_09_10_present     int32         0.000000              2
53             id_14_present     int32         0.000000              2
54             id_18_present     int32         0.000000              2
55             id_24_present     int32         0.000000              2

          Min        Max          Mean     Median            Std  \
0   2987004.0  3577534.0  3.236329e+06  3198818.0  178849.571186
1      -100.0        0.0 -1.017050e+01       -5.0      14.342789
2         1.0   999595.0  1.747166e+05   125800.5  159650.000000
3       -13.0       10.0  6.018937e-02        0.0       0.598342
4       -28.0        0.0 -5.893794e-02        0.0       0.701242
5       -72.0       52.0  1.615585e+00        0.0       5.247610
6      -100.0        0.0 -6.698710e+00        0.0      16.482006
7       -46.0       61.0  1.328535e+01       14.0      11.384203
8      -100.0        0.0 -3.860039e+01      -34.0      26.084953
9       -36.0       25.0  9.102314e-02        0.0       0.983644
10     -100.0        0.0 -3.011238e-01        0.0       2.789352
11       90.0      100.0  9.974533e+01      100.0       1.126752
12        0.0        1.0  1.470399e-01        0.0       0.354060
13       10.0       64.0  4.805307e+01       52.0      11.776752
14     -660.0      720.0 -3.445071e+02     -300.0      93.716148
15        0.0        2.0  6.455864e-01        1.0       0.627675
16        0.0        1.0  5.127880e-01        1.0       0.500211
17      100.0      229.0  1.894514e+02      166.0      30.377136
18       10.0       29.0  1.423734e+01       15.0       1.561116
19      100.0      671.0  3.531281e+02      341.0     141.112030
20      100.0      661.0  4.038826e+02      472.0     152.158493
21      100.0      854.0  3.682698e+02      252.0     198.849014
22       10.0       44.0  1.600271e+01       14.0       6.897755
23        0.0        2.0  4.428323e-01        0.0       0.694580
24       11.0       26.0  1.280093e+01       11.0       2.372468
25      100.0      548.0  3.296089e+02      321.0      97.462585
26      100.0      216.0  1.490703e+02      149.0      32.101933
27        0.0        1.0  9.972916e-01        1.0       0.051978
28        0.0        1.0  5.407369e-01        1.0       0.498445
29        0.0        1.0  5.314730e-01        1.0       0.498907
30        0.0        4.0  1.787456e+00        2.0       0.877588
31        0.0        4.0  9.179225e-01        0.0       1.335538
32        0.0       32.0  2.650860e+01       24.0       3.737366
33        0.0        2.0  1.194654e+00        1.0       0.532216
34       -1.0        2.0  1.765889e+00        2.0       0.436059
35        0.0        1.0  5.519311e-01        1.0       0.497402
36        0.0        1.0  4.907614e-02        0.0       0.216095
37        0.0        1.0  7.834309e-01        1.0       0.411800
38        0.0        1.0  4.756747e-01        0.0       0.499649
39        0.0        1.0  6.048221e-01        1.0       0.488874
40        0.0        4.0  2.497994e+00        2.0       1.150605
41        0.0        1.0  9.774809e-01        1.0       0.148365
42        0.0        1.0  9.774809e-01        1.0       0.148365
43        0.0        1.0  3.583785e-02        0.0       0.185886
44        0.0        1.0  5.448614e-01        1.0       0.497985
45        0.0        1.0  9.766974e-01        1.0       0.150863
46        0.0        1.0  9.726068e-01        1.0       0.163227
47        0.0        1.0  9.662768e-01        1.0       0.180516
48        0.0        1.0  9.489160e-01        1.0       0.220170
49        0.0        1.0  8.827383e-01        1.0       0.321733
50        0.0        1.0  8.967435e-01        1.0       0.304295
51        0.0        1.0  4.598393e-01        0.0       0.498386
52        0.0        1.0  5.194789e-01        1.0       0.499622
53        0.0        1.0  5.549631e-01        1.0       0.496972
54        0.0        1.0  3.127786e-01        0.0       0.463627
55        0.0        1.0  3.291202e-02        0.0       0.178407

                                       Unique Content
0
1
2
3   [nan, 0.0, 3.0, 2.0, 5.0, 1.0, 6.0, 9.0, 4.0, ...
4   [nan, 0.0, -11.0, -5.0, -8.0, -1.0, -6.0, -9.0...
5
6
7
8
9   [nan, 0.0, 3.0, 2.0, 1.0, 5.0, -8.0, 7.0, 4.0,...
10
11
12                                         [0.0, 1.0]
13
14  [-480.0, -300.0, nan, -360.0, -420.0, -540.0, ...
15                               [0.0, 1.0, nan, 2.0]
16                                    [0.0, 1.0, nan]
17
18  [nan, 15.0, 18.0, 13.0, 12.0, 20.0, 21.0, 14.0...
19
20
21
22  [nan, 14.0, 41.0, 21.0, 33.0, 35.0, 19.0, 20.0...
23                               [nan, 0.0, 1.0, 2.0]
24  [nan, 11.0, 15.0, 16.0, 12.0, 21.0, 18.0, 25.0...
25
26
27                                    [nan, 1.0, 0.0]
28                                    [0.0, 1.0, nan]
29                                    [0.0, 1.0, nan]
30                     [0.0, 1.0, nan, 3.0, 2.0, 4.0]
31                     [3.0, 1.0, 0.0, nan, 4.0, 2.0]
32                       [32.0, nan, 24.0, 16.0, 0.0]
33                               [1.0, nan, 0.0, 2.0]
34                         [2.0, 1.0, nan, 0.0, -1.0]
35                                    [1.0, 0.0, nan]
36                                    [0.0, nan, 1.0]
37                                    [1.0, 0.0, nan]
38                                    [1.0, nan, 0.0]
39                                    [0.0, 1.0, nan]
40                     [0.0, 1.0, 2.0, nan, 3.0, 4.0]
41                                             [1, 0]
42                                             [1, 0]
43                                             [0, 1]
44                                             [1, 0]
45                                             [1, 0]
46                                             [1, 0]
47                                             [1, 0]
48                                             [0, 1]
49                                             [0, 1]
50                                             [1, 0]
51                                             [0, 1]
52                                             [0, 1]
53                                             [1, 0]
54                                             [0, 1]
55                                             [0, 1]

# Test Pipeline

In [7]:
import pandas as pd
import numpy as np
import joblib

class IdentityCleaner:
    def __init__(self, category_mappings=None, top_categories=None):
        self.category_mappings = category_mappings if category_mappings is not None else {}
        self.top_categories = top_categories if top_categories is not None else {}

    def group_resolution(self, res):
        if pd.isna(res):
            return float('nan')
        try:
            width, height = map(int, res.split('x'))
            area = width * height
            if area <= 1_000_000:
                return 'small'
            elif area <= 2_500_000:
                return 'medium'
            else:
                return 'large'
        except:
            return 'other'

    def group_device_info(self, device):
        if pd.isna(device):
            return 'nan'
        device = device.lower()
        if 'samsung' in device:
            return 'Samsung'
        elif 'ios' in device:
            return 'iOS'
        elif 'windows' in device:
            return 'Windows'
        elif 'mac' in device:
            return 'Mac'
        else:
            return 'Other'

    def fit(self, df):
        if not isinstance(df, pd.DataFrame):
            raise TypeError(f"Expected a pandas DataFrame, but got {type(df)}")

        df = df.copy()
        df.columns = df.columns.str.replace('-', '_')

        top_categories_limits = {
            'id_30': 5,
            'id_31': 5,
            'id_33': 3,  # No se usará directamente, pero lo mantenemos por consistencia
            'DeviceInfo': 5  # No se usará directamente, pero lo mantenemos por consistencia
        }

        label_cols = ['id_30', 'id_31', 'id_33', 'DeviceInfo']
        for col in label_cols:
            if col not in df.columns:
                raise ValueError(f"Column {col} not found in DataFrame")
            
            if col in ['id_33', 'DeviceInfo']:
                # Para id_33 y DeviceInfo, no necesitamos top_categories porque usaremos funciones de agrupamiento
                continue
                
            top_n = top_categories_limits[col]
            top_cats = df[col].value_counts(dropna=True).head(top_n).index.tolist()
            self.top_categories[col] = top_cats

            # Usar los mapeos proporcionados
            if col == 'id_30':
                mapping = {
                    'Windows 10': 2.0,
                    'Windows 7': 2.0,
                    'iOS 11.2.1': 1.0,
                    'iOS 11.1.2': 1.0,
                    'Android 7.0': 0.0,
                    'other': 3.0
                }
            elif col == 'id_31':
                mapping = {
                    'chrome 63.0': 0.0,
                    'mobile safari 11.0': 1.0,
                    'mobile safari generic': 1.0,
                    'ie 11.0 for desktop': 4.0,
                    'safari generic': 1.0,
                    'other': 3.0
                }
            self.category_mappings[col] = mapping

        return self

    def transform(self, df):
        if not isinstance(df, pd.DataFrame):
            raise TypeError(f"Expected a pandas DataFrame, but got {type(df)}")

        df = df.copy()
        df.columns = df.columns.str.replace('-', '_')

        float64_cols = df.select_dtypes(include=['float64']).columns
        df[float64_cols] = df[float64_cols].astype('float32')

        # Debug: Imprimir el % Null de cada columna en id_11 a id_38 y id_30 a id_34
        print("Porcentaje de NaN por columna en id_11 a id_38:")
        for i in range(11, 39):
            col = f'id_{i}'
            if col in df.columns:
                null_percentage = df[col].isna().mean() * 100
                print(f"{col}: {null_percentage:.5f}%")

        print("\nPorcentaje de NaN por columna en id_30 a id_34:")
        for i in range(30, 35):
            col = f'id_{i}'
            if col in df.columns:
                null_percentage = df[col].isna().mean() * 100
                print(f"{col}: {null_percentage:.5f}%")

        # Debug: Contar filas con todas NaN
        if all(f'id_{i}' in df.columns for i in [11, 15, 28, 29, 35, 36, 37, 38]):
            # Usamos las columnas exactas: id_11, id_15, id_28, id_29, id_35, id_36, id_37, id_38
            include_cols = [11, 15, 28, 29, 35, 36, 37, 38]
            id_11_38_cols = df[[f'id_{i}' for i in include_cols]]
            all_nan_11_38 = id_11_38_cols.isna().all(axis=1).sum()
            print(f"\nRows with all NaN in id_11 to id_38 (using id_11, id_15, id_28, id_29, id_35, id_36, id_37, id_38): {all_nan_11_38}")

        if all(f'id_{i}' in df.columns for i in range(30, 35)):
            # Excluimos id_31
            id_30_34_cols = df[[f'id_{i}' for i in range(30, 35) if i != 31]]
            all_nan_30_34 = id_30_34_cols.isna().all(axis=1).sum()
            print(f"Rows with all NaN in id_30 to id_34 (excluding id_31): {all_nan_30_34}")

        # 1. Calcular columnas binarias ANTES de transformar las columnas categóricas
        if all(col in df.columns for col in ['id_35', 'id_36', 'id_37', 'id_38']):
            df['id_35_38_present'] = df[['id_35', 'id_36', 'id_37', 'id_38']].notnull().any(axis=1).astype('int32')

        if all(f'id_{i}' in df.columns for i in [11, 15, 28, 29, 35, 36, 37, 38]):
            # Usamos las columnas exactas: id_11, id_15, id_28, id_29, id_35, id_36, id_37, id_38
            include_cols = [11, 15, 28, 29, 35, 36, 37, 38]
            df['id_11_38_present'] = df[[f'id_{i}' for i in include_cols]].notnull().any(axis=1).astype('int32')

        if all(col in df.columns for col in ['id_07', 'id_27']):
            df['id_07_27_present'] = df[['id_07', 'id_27']].notnull().any(axis=1).astype('int32')

        if all(f'id_{i}' in df.columns for i in range(30, 35)):
            # Excluimos id_31
            df['id_30_34_present'] = df[[f'id_{i}' for i in range(30, 35) if i != 31]].notnull().any(axis=1).astype('int32')

        if all(col in df.columns for col in ['id_02', 'DeviceType']):
            df['id_02_DeviceType_present'] = df[['id_02', 'DeviceType']].notnull().any(axis=1).astype('int32')

        if 'id_31' in df.columns:
            df['id_31_present'] = df['id_31'].notnull().astype('int32')

        if all(f'id_{i}' in df.columns for i in range(17, 21)):
            df['id_17_20_present'] = df[[f'id_{i}' for i in range(17, 21)]].notnull().any(axis=1).astype('int32')

        if all(col in df.columns for col in ['id_05', 'id_06']):
            df['id_05_06_present'] = df[['id_05', 'id_06']].notnull().any(axis=1).astype('int32')

        if 'id_13' in df.columns:
            df['id_13_present'] = df['id_13'].notnull().astype('int32')

        if 'id_16' in df.columns:
            df['id_16_present'] = df['id_16'].notnull().astype('int32')

        if all(col in df.columns for col in ['id_03', 'id_04']):
            df['id_03_04_present'] = df[['id_03', 'id_04']].notnull().any(axis=1).astype('int32')

        if all(col in df.columns for col in ['id_09', 'id_10']):
            df['id_09_10_present'] = df[['id_09', 'id_10']].notnull().any(axis=1).astype('int32')

        if 'id_14' in df.columns:
            df['id_14_present'] = df['id_14'].notnull().astype('int32')

        if 'id_18' in df.columns:
            df['id_18_present'] = df['id_18'].notnull().astype('int32')

        if 'id_24' in df.columns:
            df['id_24_present'] = df['id_24'].notnull().astype('int32')

        # 2. Transformar otras columnas categóricas
        if 'id_12' in df.columns:
            df['id_12'] = df['id_12'].map({'NotFound': 0, 'Found': 1}).astype('float32')

        if 'id_15' in df.columns:
            df['id_15'] = df['id_15'].map({'New': 0, 'Found': 1, 'Unknown': 2}).astype('float32')

        if 'id_16' in df.columns:
            df['id_16'] = df['id_16'].map({'NotFound': 0, 'Found': 1}).astype('float32')

        if 'id_23' in df.columns:
            df['id_23'] = df['id_23'].map({
                'IP_PROXY:TRANSPARENT': 0,
                'IP_PROXY:ANONYMOUS': 1,
                'IP_PROXY:HIDDEN': 2
            }).astype('float32')

        if 'id_27' in df.columns:
            df['id_27'] = df['id_27'].map({'NotFound': 0, 'Found': 1}).astype('float32')

        if 'id_28' in df.columns:
            df['id_28'] = df['id_28'].map({'New': 0, 'Found': 1}).astype('float32')

        if 'id_29' in df.columns:
            df['id_29'] = df['id_29'].map({'NotFound': 0, 'Found': 1}).astype('float32')

        if 'id_34' in df.columns:
            df['id_34'] = df['id_34'].map({
                'match_status:-1': -1,
                'match_status:0': 0,
                'match_status:1': 1,
                'match_status:2': 2
            }).astype('float32')

        for col in ['id_35', 'id_36', 'id_37', 'id_38']:
            if col in df.columns:
                df[col] = df[col].map({'T': 1, 'F': 0}).astype('float32')

        if 'DeviceType' in df.columns:
            df['DeviceType'] = df['DeviceType'].map({'mobile': 0, 'desktop': 1}).astype('float32')

        # 3. Transformar id_30, id_31, id_33, DeviceInfo
        label_cols = ['id_30', 'id_31', 'id_33', 'DeviceInfo']
        nan_masks = {col: df[col].isna() for col in label_cols if col in df.columns}

        for col in label_cols:
            if col not in df.columns:
                raise ValueError(f"Column {col} not found in DataFrame")
            
            if col == 'id_33':
                # Agrupar resoluciones y mapear
                df_col = df[col].apply(self.group_resolution)
                df[col] = df_col.map({
                    'small': 0,
                    'medium': 1,
                    'large': 2,
                    'other': 3,
                    float('nan'): float('nan')
                }).astype('float32')
            elif col == 'DeviceInfo':
                # Agrupar dispositivos y mapear
                df_col = df[col].apply(self.group_device_info)
                df[col] = df_col.map({
                    'Samsung': 0,
                    'iOS': 1,
                    'Windows': 2,
                    'Mac': 3,
                    'Other': 4,
                    'nan': float('nan')
                }).astype('float32')
            else:
                # Mapear categorías a 'other' si no están en las principales
                df_col = df[col].where(df[col].isin(self.top_categories[col]), 'other')
                # Aplicar el mapeo personalizado
                df[col] = df_col.map(self.category_mappings[col]).astype('float32')
                # Restaurar NaN
                df[col] = df[col].where(~nan_masks[col], np.nan)

        # Debug: Imprimir la distribución de valores en DeviceInfo después de la transformación
        print("\nDistribución de valores en DeviceInfo después de la transformación:")
        print(df['DeviceInfo'].value_counts(dropna=False))

        return df

In [10]:
train_identity = pd.read_csv('train_identity.csv')

In [12]:
cleaner = IdentityCleaner()

In [14]:
cleaner.fit(train_identity)

In [16]:
id_train_cleaned_pipeline = cleaner.transform(train_identity)

Porcentaje de NaN por columna en id_11 a id_38:
id_11: 2.25677%
id_12: 0.00000%
id_13: 11.72617%
id_14: 44.50369%
id_15: 2.25191%
id_16: 10.32565%
id_17: 3.37232%
id_18: 68.72214%
id_19: 3.40768%
id_20: 3.44720%
id_21: 96.42315%
id_22: 96.41622%
id_23: 96.41622%
id_24: 96.70880%
id_25: 96.44187%
id_26: 96.42038%
id_27: 96.41622%
id_28: 2.25677%
id_29: 2.25677%
id_30: 46.22243%
id_31: 2.73932%
id_32: 46.20787%
id_33: 49.18708%
id_34: 46.05603%
id_35: 2.25191%
id_36: 2.25191%
id_37: 2.25191%
id_38: 2.25191%

Porcentaje de NaN por columna en id_30 a id_34:
id_30: 46.22243%
id_31: 2.73932%
id_32: 46.20787%
id_33: 49.18708%
id_34: 46.05603%

Rows with all NaN in id_11 to id_38 (using id_11, id_15, id_28, id_29, id_35, id_36, id_37, id_38): 3248
Rows with all NaN in id_30 to id_34 (excluding id_31): 65646

Distribución de valores en DeviceInfo después de la transformación:
DeviceInfo
2.0    47775
4.0    35844
NaN    25567
1.0    19782
3.0    12573
0.0     2692
Name: count, dtype: int64

In [22]:
# Guardar el pipeline entrenado en un archivo
joblib.dump(cleaner, 'identity_cleaner_trained.pkl')
print("Pipeline entrenado y guardado como 'identity_cleaner_trained.pkl'")

Pipeline entrenado y guardado como 'identity_cleaner_trained.pkl'

# id_train_cleaned_pipeline to CSV

In [20]:
id_train_cleaned_pipeline.to_csv('train_id_cleaned_pipeline_to_model.csv', index=False)

# id_train_cleaned_pipeline STATISTICS TO EXCEL

In [542]:
create_summary_excel(id_train_cleaned_pipeline)

Do you want to include statistical data and unique values? (yes/no):  yes
Do you want to save the summary to an Excel file? (yes/no):  yes
Enter the file name (without extension):  id_train_cleaned_pipeline

File saved as id_train_cleaned_pipeline.xlsx

Summary DataFrame:
                 Column Name Data Type  Percentage Null  Unique Values  \
0              TransactionID     int64         0.000000         144233
1                      id_01   float32         0.000000             77
2                      id_02   float32         2.330257         115655
3                      id_03   float32        54.016071             24
4                      id_04   float32        54.016071             15
5                      id_05   float32         5.108401             93
6                      id_06   float32         5.108401            101
7                      id_07   float32        96.425922             84
8                      id_08   float32        96.425922             94
9                      id_09   float32        48.052110             46
10                     id_10   float32        48.052110             62
11                     id_11   float32         2.256765            365
12                     id_12   float32         0.000000              2
13                     id_13   float32        11.726165             54
14                     id_14   float32        44.503685             25
15                     id_15   float32         2.251912              3
16                     id_16   float32        10.325654              2
17                     id_17   float32         3.372321            104
18                     id_18   float32        68.722137             18
19                     id_19   float32         3.407681            522
20                     id_20   float32         3.447200            394
21                     id_21   float32        96.423149            490
22                     id_22   float32        96.416215             25
23                     id_23   float32        96.416215              3
24                     id_24   float32        96.708798             12
25                     id_25   float32        96.441868            341
26                     id_26   float32        96.420375             95
27                     id_27   float32        96.416215              2
28                     id_28   float32         2.256765              2
29                     id_29   float32         2.256765              2
30                     id_30   float32        46.222432              4
31                     id_31   float32         2.739318              4
32                     id_32   float32        46.207872              4
33                     id_33   float32        49.187079              3
34                     id_34   float32        46.056034              4
35                     id_35   float32         2.251912              2
36                     id_36   float32         2.251912              2
37                     id_37   float32         2.251912              2
38                     id_38   float32         2.251912              2
39                DeviceType   float32         2.373243              2
40                DeviceInfo   float32        17.726179              5
41          id_35_38_present     int32         0.000000              2
42          id_11_38_present     int32         0.000000              2
43          id_07_27_present     int32         0.000000              2
44          id_30_34_present     int32         0.000000              2
45  id_02_DeviceType_present     int32         0.000000              2
46             id_31_present     int32         0.000000              2
47          id_17_20_present     int32         0.000000              2
48          id_05_06_present     int32         0.000000              2
49             id_13_present     int32         0.000000              2
50             id_16_present     int32         0.000000              2
51          id_03_04_present     int32         0.000000              2
52          id_09_10_present     int32         0.000000              2
53             id_14_present     int32         0.000000              2
54             id_18_present     int32         0.000000              2
55             id_24_present     int32         0.000000              2

          Min        Max          Mean     Median            Std  \
0   2987004.0  3577534.0  3.236329e+06  3198818.0  178849.571186
1      -100.0        0.0 -1.017050e+01       -5.0      14.342789
2         1.0   999595.0  1.747166e+05   125800.5  159650.000000
3       -13.0       10.0  6.018937e-02        0.0       0.598342
4       -28.0        0.0 -5.893794e-02        0.0       0.701242
5       -72.0       52.0  1.615585e+00        0.0       5.247610
6      -100.0        0.0 -6.698710e+00        0.0      16.482006
7       -46.0       61.0  1.328535e+01       14.0      11.384203
8      -100.0        0.0 -3.860039e+01      -34.0      26.084953
9       -36.0       25.0  9.102314e-02        0.0       0.983644
10     -100.0        0.0 -3.011238e-01        0.0       2.789352
11       90.0      100.0  9.974533e+01      100.0       1.126752
12        0.0        1.0  1.470399e-01        0.0       0.354060
13       10.0       64.0  4.805307e+01       52.0      11.776752
14     -660.0      720.0 -3.445071e+02     -300.0      93.716148
15        0.0        2.0  6.455864e-01        1.0       0.627675
16        0.0        1.0  5.127880e-01        1.0       0.500211
17      100.0      229.0  1.894514e+02      166.0      30.377136
18       10.0       29.0  1.423734e+01       15.0       1.561116
19      100.0      671.0  3.531281e+02      341.0     141.112030
20      100.0      661.0  4.038826e+02      472.0     152.158493
21      100.0      854.0  3.682698e+02      252.0     198.849014
22       10.0       44.0  1.600271e+01       14.0       6.897755
23        0.0        2.0  4.428323e-01        0.0       0.694580
24       11.0       26.0  1.280093e+01       11.0       2.372468
25      100.0      548.0  3.296089e+02      321.0      97.462585
26      100.0      216.0  1.490703e+02      149.0      32.101933
27        0.0        1.0  9.972916e-01        1.0       0.051978
28        0.0        1.0  5.407369e-01        1.0       0.498445
29        0.0        1.0  5.314730e-01        1.0       0.498907
30        0.0        3.0  2.255850e+00        2.0       0.777438
31        0.0        4.0  2.122097e+00        3.0       1.283584
32        0.0       32.0  2.650860e+01       24.0       3.737366
33        0.0        2.0  1.194654e+00        1.0       0.532216
34       -1.0        2.0  1.765889e+00        2.0       0.436059
35        0.0        1.0  5.519311e-01        1.0       0.497402
36        0.0        1.0  4.907614e-02        0.0       0.216095
37        0.0        1.0  7.834309e-01        1.0       0.411800
38        0.0        1.0  4.756747e-01        0.0       0.499649
39        0.0        1.0  6.048221e-01        1.0       0.488874
40        0.0        4.0  2.497994e+00        2.0       1.150605
41        0.0        1.0  9.774809e-01        1.0       0.148365
42        0.0        1.0  9.774809e-01        1.0       0.148365
43        0.0        1.0  3.583785e-02        0.0       0.185886
44        0.0        1.0  5.448614e-01        1.0       0.497985
45        0.0        1.0  9.766974e-01        1.0       0.150863
46        0.0        1.0  9.726068e-01        1.0       0.163227
47        0.0        1.0  9.662837e-01        1.0       0.180499
48        0.0        1.0  9.489160e-01        1.0       0.220170
49        0.0        1.0  8.827383e-01        1.0       0.321733
50        0.0        1.0  8.967435e-01        1.0       0.304295
51        0.0        1.0  4.598393e-01        0.0       0.498386
52        0.0        1.0  5.194789e-01        1.0       0.499622
53        0.0        1.0  5.549631e-01        1.0       0.496972
54        0.0        1.0  3.127786e-01        0.0       0.463627
55        0.0        1.0  3.291202e-02        0.0       0.178407

                                       Unique Content
0
1
2
3   [nan, 0.0, 3.0, 2.0, 5.0, 1.0, 6.0, 9.0, 4.0, ...
4   [nan, 0.0, -11.0, -5.0, -8.0, -1.0, -6.0, -9.0...
5
6
7
8
9   [nan, 0.0, 3.0, 2.0, 1.0, 5.0, -8.0, 7.0, 4.0,...
10
11
12                                         [0.0, 1.0]
13
14  [-480.0, -300.0, nan, -360.0, -420.0, -540.0, ...
15                               [0.0, 1.0, nan, 2.0]
16                                    [0.0, 1.0, nan]
17
18  [nan, 15.0, 18.0, 13.0, 12.0, 20.0, 21.0, 14.0...
19
20
21
22  [nan, 14.0, 41.0, 21.0, 33.0, 35.0, 19.0, 20.0...
23                               [nan, 0.0, 1.0, 2.0]
24  [nan, 11.0, 15.0, 16.0, 12.0, 21.0, 18.0, 25.0...
25
26
27                                    [nan, 1.0, 0.0]
28                                    [0.0, 1.0, nan]
29                                    [0.0, 1.0, nan]
30                          [0.0, 1.0, nan, 3.0, 2.0]
31                          [3.0, 1.0, nan, 4.0, 0.0]
32                       [32.0, nan, 24.0, 16.0, 0.0]
33                               [1.0, nan, 0.0, 2.0]
34                         [2.0, 1.0, nan, 0.0, -1.0]
35                                    [1.0, 0.0, nan]
36                                    [0.0, nan, 1.0]
37                                    [1.0, 0.0, nan]
38                                    [1.0, nan, 0.0]
39                                    [0.0, 1.0, nan]
40                     [0.0, 1.0, 2.0, nan, 3.0, 4.0]
41                                             [1, 0]
42                                             [1, 0]
43                                             [0, 1]
44                                             [1, 0]
45                                             [1, 0]
46                                             [1, 0]
47                                             [1, 0]
48                                             [0, 1]
49                                             [0, 1]
50                                             [1, 0]
51                                             [0, 1]
52                                             [0, 1]
53                                             [1, 0]
54                                             [0, 1]
55                                             [0, 1]